openapi: 3.2.0
info:
  title: Waterloo OpenData Account API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: Account
paths:
  /v3/Account/Register:
    post:
      tags:
      - Account
      summary: Use this method to request an API key and begin your registration process
      parameters:
      - name: email
        in: query
        description: A unique email that we can use to identify you and contact you. We will ask to confirm it.
        schema:
          type: string
      - name: project
        in: query
        description: A name and description of your project
        schema:
          type: string
      - name: uri
        in: query
        description: 'The web address of your project: it''s live location, app store entry, or similar'
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: postV3AccountRegister
      x-operation-id-source: derived
  /v3/Account/{email}:
    get:
      tags:
      - Account
      summary: Use this method to see if an email has already been registered for an API key
      parameters:
      - name: email
        in: path
        description: Email address to check
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: getV3AccountByEmail
      x-operation-id-source: derived
  /v3/Account/{email}/notify:
    get:
      tags:
      - Account
      summary: Use this method to have us re-send the confirmation email to an account pending…
      parameters:
      - name: email
        in: path
        description: Email address to re-send confirmation email to
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: getV3AccountByEmailNotify
      x-operation-id-source: derived
  /v3/Account/{email}/{apiKey}/reset:
    get:
      tags:
      - Account
      summary: User this method to put your account in pending confirmation status and…
      parameters:
      - name: email
        in: path
        description: Email address of associated account to reset
        required: true
        schema:
          type: string
      - name: apiKey
        in: path
        description: Current API account key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: getV3AccountByEmailByApiKeyReset
      x-operation-id-source: derived
  /v3/Account/Confirm:
    post:
      tags:
      - Account
      summary: Use this method to confirm your email and activate your account
      parameters:
      - name: email
        in: query
        description: Email address you used to register
        schema:
          type: string
      - name: code
        in: query
        description: Activation code we sent you in the confirmation email
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      operationId: postV3AccountConfirm
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
