openapi: 3.2.0
info:
  title: Waterloo OpenData Exam Schedules API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: ExamSchedules
paths:
  /v3/ExamSchedules:
    get:
      tags:
      - ExamSchedules
      summary: Returns Exam Schedule data for the current Term
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'
      operationId: getV3ExamSchedules
      x-operation-id-source: derived
  /v3/ExamSchedules/{code}:
    get:
      tags:
      - ExamSchedules
      summary: Returns Exam Schedule data for the requested Term
      parameters:
      - name: code
        in: path
        description: Waterloo Term code
        required: true
        schema:
          maxLength: 4
          minLength: 4
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'
      operationId: getV3ExamSchedulesByCode
      x-operation-id-source: derived
components:
  schemas:
    Exam:
      type: object
      properties:
        examDisplayName:
          type:
          - string
          - 'null'
          description: The name of the Exam, representative of the Course name
        sections:
          type:
          - string
          - 'null'
          description: Sections of the Class this Exam schedule is applicable to
        isOnlineDescription:
          type:
          - string
          - 'null'
          description: Indicates whether this Exam is held online, or provides an alternate description
        day:
          type:
          - string
          - 'null'
          description: Day name on which this Exam is scheduled to take place
        location:
          type:
          - string
          - 'null'
          description: Description of the location of the Exam
        examWindowStartDate:
          type:
          - string
          - 'null'
          description: The date the Exam is scheduled for
        examWindowStartTime:
          type:
          - string
          - 'null'
          description: The time the Exam is scheduled to start
        examDuration:
          type:
          - string
          - 'null'
          description: The scheduled duration of the Exam
        notes:
          type:
          - string
          - 'null'
          description: Additional notes about this Exam schedule
        termCode:
          type:
          - string
          - 'null'
          description: Term Code for the Term this Exam is associated with
      additionalProperties: false
      description: Represents a scheduled Exam for a Class
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
