openapi: 3.0.4
info:
  title: Waterloo OpenData AcademicOrganizations Terms API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: Terms
paths:
  /v3/Terms:
    get:
      tags:
      - Terms
      summary: Gets all Term data that is effective at the current time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /v3/Terms/current:
    get:
      tags:
      - Terms
      summary: Gets the current Term data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
  /v3/Terms/{code}:
    get:
      tags:
      - Terms
      summary: Gets Term data for a specific Term filtered by code
      parameters:
      - name: code
        in: path
        description: Term 4 digit Code
        required: true
        schema:
          maxLength: 4
          minLength: 4
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
components:
  schemas:
    Term:
      type: object
      properties:
        termCode:
          type: string
          description: Code that describes this Term
          nullable: true
        name:
          type: string
          description: The Name for this Term, most often the displayed name
          nullable: true
        nameShort:
          type: string
          description: The short form name for this Term
          nullable: true
        termBeginDate:
          type: string
          description: The date and time from which the Term begins, inclusive
          format: date-time
        termEndDate:
          type: string
          description: The date and time on which the Term ends, inclusive
          format: date-time
        sixtyPercentCompleteDate:
          type: string
          description: The date and time at which the term is 60% complete, used for standing, withdrawal, and penalties
          format: date-time
          nullable: true
        associatedAcademicYear:
          type: integer
          description: The academic year to which this Term belongs
          format: int32
      additionalProperties: false
      description: An academic Term at Waterloo, a defined period of time that is used by classes and similar
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
