openapi: 3.2.0
info:
  title: Waterloo OpenData Locations API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: Locations
paths:
  /v3/Locations:
    get:
      tags:
      - Locations
      summary: Get all building location data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
      operationId: getV3Locations
      x-operation-id-source: derived
  /v3/Locations/geojson:
    get:
      tags:
      - Locations
      summary: Get all building location data as GEO JSON
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGeo'
      operationId: getV3LocationsGeojson
      x-operation-id-source: derived
  /v3/Locations/{locationCode}:
    get:
      tags:
      - Locations
      summary: Gets building by matched building code, case insensitive
      parameters:
      - name: locationCode
        in: path
        description: Building code to match
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      operationId: getV3LocationsByLocationCode
      x-operation-id-source: derived
  /v3/Locations/{locationCode}/geojson:
    get:
      tags:
      - Locations
      summary: Gets building by matched building code, case insensitive, as GEO JSON
      parameters:
      - name: locationCode
        in: path
        description: Building code to match
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGeo'
      operationId: getV3LocationsByLocationCodeGeojson
      x-operation-id-source: derived
  /v3/Locations/search/{locationName}:
    get:
      tags:
      - Locations
      summary: Gets buildings by matched building name, contains, case insensitive
      parameters:
      - name: locationName
        in: path
        description: Text to match in building name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
      operationId: getV3LocationsSearchByLocationName
      x-operation-id-source: derived
  /v3/Locations/search/{locationName}/geojson:
    get:
      tags:
      - Locations
      summary: Gets buildings by matched building name, contains, case insensitive, as GEO JSON
      parameters:
      - name: locationName
        in: path
        description: Text to match in building name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGeo'
      operationId: getV3LocationsSearchByLocationNameGeojson
      x-operation-id-source: derived
components:
  schemas:
    Location:
      type: object
      properties:
        buildingId:
          type:
          - string
          - 'null'
          description: Unique identifier for this building
        buildingCode:
          type:
          - string
          - 'null'
          description: Alpha-numeric building code
        parentBuildingCode:
          type:
          - string
          - 'null'
          description: Unofficial, alpha-numeric building code that represents the parent location
        buildingName:
          type:
          - string
          - 'null'
          description: Display name of the building
        alternateBuildingNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Unofficial, collection of alternate building display names
        latitude:
          type:
          - number
          - 'null'
          description: Latitude co-ordinate of this location
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: Longitude co-ordinate of this location
          format: double
      additionalProperties: false
      description: Model representing a Location for the Buildings dataset
    Feature:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type of Feature
          readOnly: true
        properties:
          $ref: '#/components/schemas/Location'
        geometry:
          $ref: '#/components/schemas/Geometry'
      additionalProperties: false
      description: Feature of location collection
    Geometry:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type of geometry
          readOnly: true
        coordinates:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
          description: Latitude and Longitude collection of this location
      additionalProperties: false
      description: Represents Geometry data of the Feature
    LocationGeo:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type property of GEO JSON collection
          readOnly: true
        features:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Feature'
          description: Features of this collection
      additionalProperties: false
      description: Model representing a Location for the Buildings dataset in GEO JSON format
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
