openapi: 3.0.4
info:
  title: Waterloo OpenData AcademicOrganizations ImportantDates API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: ImportantDates
paths:
  /v3/ImportantDates:
    get:
      tags:
      - ImportantDates
      summary: Returns all current data for Important Dates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImportantDate'
  /v3/ImportantDates/{year}:
    get:
      tags:
      - ImportantDates
      summary: Returns important date data related to academic year
      parameters:
      - name: year
        in: path
        description: Academic year to filter on
        required: true
        schema:
          maximum: 2050
          minimum: 2000
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImportantDate'
components:
  schemas:
    ImportantDateDetails:
      type: object
      properties:
        importantDateId:
          type: integer
          description: Id link to associated Important Date, internal
          format: int32
        termId:
          type: integer
          description: Id to the associated Term
          format: int32
        termName:
          type: string
          description: Name of the associated Term when the Important Date takes place
          nullable: true
        startDate:
          type: string
          description: Start or event date for the Important Date
          format: date-time
          nullable: true
        endDate:
          type: string
          description: Optional end date for the Important Date
          format: date-time
          nullable: true
        notes:
          type: string
          description: Any special notes for this occurance of the Important Date, can contain markup
          nullable: true
      additionalProperties: false
      description: Details about terms, dates, and special notes for an Important Date
    ImportantDate:
      type: object
      properties:
        id:
          type: integer
          description: Unique, non-persistent Api Id for this resource
          format: int32
        name:
          type: string
          description: Name/Title of the Important Date
          nullable: true
        description:
          type: string
          description: Optional description of the Important Date, can contain markup
          nullable: true
        importantDateType:
          type: string
          description: The type category this Important Date belongs to
          nullable: true
        associatedAcademicYear:
          type: string
          description: The academic year this important date is associated to
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ImportantDateDetails'
          description: Details about terms, dates, and special notes
          nullable: true
        keywords:
          type: array
          items:
            type: string
          description: Keywords associated with the Important Date
          nullable: true
        audiences:
          type: array
          items:
            type: string
          description: Audiences associated with the Important Date
          nullable: true
        audienceString:
          type: string
          nullable: true
        keywordString:
          type: string
          nullable: true
      additionalProperties: false
      description: An Important Date is an event at a time that has significance to the Waterloo community
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
