openapi: 3.2.0
info:
  title: Waterloo OpenData Academic Organizations API
  version: v3
servers:
- url: https://openapi.data.uwaterloo.ca
  description: University of Waterloo OpenData API v3
security:
- apiKey: []
tags:
- name: AcademicOrganizations
paths:
  /v3/AcademicOrganizations:
    get:
      tags:
      - AcademicOrganizations
      summary: Gets all Academic Organization data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcademicOrganization'
      operationId: getV3AcademicOrganizations
      x-operation-id-source: derived
  /v3/AcademicOrganizations/{organizationCode}:
    get:
      tags:
      - AcademicOrganizations
      summary: Gets Academic Organization data for a specific entry by the Organization code
      parameters:
      - name: organizationCode
        in: path
        description: Unique Academic Organization code
        required: true
        schema:
          pattern: ^[A-Za-z]*$
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicOrganization'
      operationId: getV3AcademicOrganizationsByOrganizationCode
      x-operation-id-source: derived
components:
  schemas:
    AcademicOrganization:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: Unique Code of this Academic Organization
        name:
          type:
          - string
          - 'null'
          description: The Name for this Academic Organization, most often the display name
        description:
          type:
          - string
          - 'null'
          description: The short description for this Academic Organization
        descriptionFormal:
          type:
          - string
          - 'null'
          description: The formal description for this Academic Organization, most often used in official capacity
        associatedCampusCode:
          type:
          - string
          - 'null'
          description: The Code for the Campus that this Academic Organization is assigned to
      additionalProperties: false
      description: An Academic Organization at Waterloo is similar to a department
  securitySchemes:
    apiKey:
      type: apiKey
      description: Custom API key authentication
      name: x-api-key
      in: header
